.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
node_modules
/packages/*/*.js
/packages/*/*.css
/packages/*/*.map
/public
